.MobileApp {
  .wrapper {
    // padding: 60px 0;
    display: grid;
    grid-template-columns: 60% 40%;
    .leftbox {
      background-color: #000938;
      padding: 40px 0;
      padding-left: 80px;
      border-radius: 100% 0% 100% 0% / 0% 21% 79% 100%;
      .app_title {
        font-size: 20px;
        color: #fff;
        margin: 20px 0;
      }
      ul {
        padding-left: 0;
        li {
          list-style: none;
          padding: 15px 0;
          color: #fff;
        }
      }
    }
    .rightbox {
      background-color: #000938;
      .wrapper {
        background-color: #fff;
        border-radius: 65% 0% 62% 0% / 22% 33% 0% 10%;
        position: relative;
        img {
          margin-left: 100px;
        }
      }
    }
  }
}
