.ContactLocations {
  padding: 50px 0;
  .wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    .col {
      &:hover {
        cursor: pointer;
        svg {
          transform: scale(1.1);
        }
      }
      text-align: center;
      svg {
        transition: 0.3s ease;
        font-size: 60px;
        color: #000938;
      }
      h1 {
        margin: 20px 0;
      }
      p {
        max-width: 70%;
        margin: 0 auto;
        font-size: 20px;
        color: #000938;
      }
      a {
        text-decoration: none;
      }
    }
    .locations {
      border-left: 1px solid #000938;
      border-right: 1px solid #000938;
    }
  }
}
