.Header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  z-index: 100;
  background: rgba(0, 9, 56, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  backdrop-filter: blur(10px);
  .wrapper {
    display: flex;
    align-items: center;
    .leftbox {
    }
    .rightbox {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      //   margin-left: auto;
      ul {
        padding-left: 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        .home_link {
          margin-left: 45px;
        }
        li {
          list-style-type: none;
          a {
            &:hover {
              &::after {
                width: 100%;
              }
            }
            text-underline-offset: 5px;
            color: #fff;
            text-decoration: none;
            &::after {
              content: "";
              display: block;
              width: 0%;
              transition: 0.3s ease-in-out;
              height: 1px;
              background: #fff;
              margin-top: 3px;
            }
          }
        }
      }
      svg {
        margin-right: 5px;
      }
      .change_lang {
        margin-top: -5px;
        select {
          background-color: transparent;
          padding: 5px;
          color: #fff;
          option {
            background-color: #000938;
          }
        }
      }
    }
  }
}
